<div class="container">
  <h1>Chỉnh sửa thuốc nam</h1>

  <%= render "form", thuoc_nam: @thuoc_nam %>

  <br>

  <div>
    <%= link_to "Show", @thuoc_nam %> |
    <%= link_to "Back", thuoc_nams_path %>
  </div>
</div>