
.container{
    max-width: 1320px;
    margin: 0 auto;
}

.container h1{
    text-align: center;
}

.container .show{
    display: inline-block;
    margin-right: 10px;
}

.thuoctinh{
    margin-top: 10px;
}